Source/WienerLinien.Api/Routing/Messages/itdComplexTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Jürgen Hillmann (Mentz Datenverarbeitung GmbH) -->
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Geralf Einert (Mentz Datenverarbeitung GmbH) -->
<!-- $Id$ -->
<!-- Copyright (C) 2000-2004 Mentz Datenverarbeitung GmbH -->
<!-- Grillparzerstrasse 18, 81675 Munich, Germany  (www.mentzdv.de) -->
<!-- itd interface descripton version 9.11.0 last update 2004/08/04 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="itdSimpleTypes.xsd"/>
	<xsd:include schemaLocation="itdAddInfo.xsd"/>
	<xsd:complexType name="requestBaseType">
		<xsd:annotation>
			<xsd:documentation>represents the base information of each request</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="itdMessage" type="itdMessageType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>represents messages of errors and notices</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="requestID" type="requestIDType">
			<xsd:annotation>
				<xsd:documentation>request id of requested object. Id must be sent yia each further request to get th e verified information</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="command" type="commandType" use="optional">
			<xsd:annotation>
				<xsd:documentation>command which was sent via http, e. g. printSingleView, printOverview, tripNext, ...</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="execInst" type="execInstType" use="optional" default="normal">
			<xsd:annotation>
				<xsd:documentation>request instriction, e. g. normal, verifyOnly or readOnly</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="itdMessageType">
		<xsd:annotation>
			<xsd:documentation>represents messages of errors and notices</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="type" use="required">
					<xsd:annotation>
						<xsd:documentation>type of message (e. g. warning, error, message)</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:NMTOKEN">
							<xsd:enumeration value="error"/>
							<xsd:enumeration value="warning"/>
							<xsd:enumeration value="message"/>
							<xsd:enumeration value="unknown"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name="module" use="required">
					<xsd:annotation>
						<xsd:documentation>modul generated the message (e. g. PT_KERNEL, IT_KERNEL, ...)</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:NMTOKEN">
							<xsd:enumeration value="PT_KERNEL"/>
							<xsd:enumeration value="IT_KERNEL"/>
							<xsd:enumeration value="MAP_KERNEL"/>
							<xsd:enumeration value="DISPATCHER"/>
							<xsd:enumeration value="BROKER"/>
							<xsd:enumeration value="PPROF"/>
							<xsd:enumeration value="AHF"/>
							<xsd:enumeration value="EFAPSCHED"/>
							<xsd:enumeration value="PDA"/>
							<xsd:enumeration value="STT"/>
							<xsd:enumeration value="ROP"/>
							<xsd:enumeration value="TTB"/>
							<xsd:enumeration value="UNKNOWN"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name="code" type="xsd:string" use="required">
					<xsd:annotation>
						<xsd:documentation>represents the message text (e. g. error, notice)</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="itdCoordType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="x" type="xsd:string" default="0"/>
				<xsd:attribute name="y" type="xsd:string" default="0"/>
				<xsd:attribute name="mapName" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="infoTextListElemType">
		<xsd:annotation>
			<xsd:documentation>represents an info text or note of a partial route, e. g. demand bus: call 0171 ... </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="url" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="itdRBLControlledType">
		<xsd:annotation>
			<xsd:documentation>represents real time information</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="delayMinutes" type="xsd:integer" default="0">
			<xsd:annotation>
				<xsd:documentation>represents the departure delay in minutes: 0 = accurate, > 0 = delay in minutes, -9999 = cancelation</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="delayMinutesArr" type="xsd:integer" default="0">
			<xsd:annotation>
				<xsd:documentation>represents the arrival delay in minutes: 0 = accurate, > 0 = delay in minutes, -9999 = cancelation</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="itdDateTimeType">
		<xsd:annotation>
			<xsd:documentation>represents date and time for each partialroute and trip calculation</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="itdDate" type="itdDateType">
				<xsd:annotation>
					<xsd:documentation>contains year/month/day/weekday attributes</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="itdTime" type="itdTimeType">
				<xsd:annotation>
					<xsd:documentation>contains hour/minutes/am or pm attributes</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="ttpFrom" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>timetable periode start date</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="ttpTo" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>timetable periode end date</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="itdDateRangeType">
		<xsd:annotation>
			<xsd:documentation>represents a list of the following dates</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="itdDate" type="itdDateType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>contains year/month/day/weekday attributes</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="itdDateType">
		<xsd:annotation>
			<xsd:documentation>contains year/month/day/weekday attributes</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="itdMessage" type="itdMessageType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>if a message occurs this is a indicator to incorrect date values</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="day" type="xsd:string" use="required"/>
		<xsd:attribute name="month" type="xsd:string" use="required"/>
		<xsd:attribute name="year" type="xsd:string" use="required"/>
		<xsd:attribute name="weekday" default="-1">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="1"/>
					<xsd:enumeration value="2"/>
					<xsd:enumeration value="3"/>
					<xsd:enumeration value="4"/>
					<xsd:enumeration value="5"/>
					<xsd:enumeration value="6"/>
					<xsd:enumeration value="7"/>
					<xsd:enumeration value="-1"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="itdTimeType">
		<xsd:annotation>
			<xsd:documentation>contains hour/minutes/am or pm attributes</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="itdMessage" type="itdMessageType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>if a message occurs this is a indicator to incorrect time values</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="hour" type="xsd:string" use="required"/>
		<xsd:attribute name="minute" type="xsd:string" use="required"/>
		<xsd:attribute name="ampm" default="invalid">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="am"/>
					<xsd:enumeration value="pm"/>
					<xsd:enumeration value="invalid"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="ap" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="itdDownloadType">
		<xsd:annotation>
			<xsd:documentation>represents a download for e. g. presentation, pda, palm, ...</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="itdMessage" type="itdMessageType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="itdDownloadFile" type="itdDownloadFileType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="genAttrList" type="genAttrListType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="itdDownloadFileType">
		<xsd:annotation>
			<xsd:documentation>represents a download file for e. g. presentation, pda, palm, ...</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="src" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>represents the path to the download</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="size" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>represents the file size of the download</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="email" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>if the created file was send by email, the email address will appear in this attribute</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="itdInfoLinkList">
		<xsd:annotation>
			<xsd:documentation>this object is a container to transport real time messages independent from journey planner content</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="itdStopInfoList" type="itdAddInfoMessageListType" minOccurs="0"/>
			<xsd:element name="itdLineInfoList" type="itdAddInfoMessageListType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="itdAddInfoMessageListType">
		<xsd:annotation>
			<xsd:documentation>represents a list of additional information messages</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="infoLink" type="infoLinkType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>This node represents a additional information message.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="itdGenericParamType">
		<xsd:annotation>
			<xsd:documentation>represents generic parameter of additional information message</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="value" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="itdGenericParamListType">
		<xsd:annotation>
			<xsd:documentation>represents list of generic parameters of additional information messages</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="genParamElem" type="itdGenericParamType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>represents generic parameter of additional information message</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="paramListType">
		<xsd:annotation>
			<xsd:documentation>represents list of generic parameters of additional information messages</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="param" type="paramType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>represents generic parameter of additional information message</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="paramType">
		<xsd:annotation>
			<xsd:documentation>represents generic parameter of additional information message</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="type" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>generic parameter type (e. g. addInfoParam, outputOption) of a additional information message</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>generic parameter name (e. g. addInfoType, priority, appearance) of a additional information message</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="value" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>generic parameter value (e. g. lineInfo, 0, 1, 2 ) of a additional information message</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="edit" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="motDivaParamsType">
		<xsd:annotation>
			<xsd:documentation>represents information for the operatinal planning system </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="project" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>Operatinal planning information: Project of the line</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="network" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>Operatinal planning information: Network of the line</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="line" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>Operatinal planning information: Line</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="supplement" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>Operatinal planning information: Supplement of the line</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="direction" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>Operatinal planning information: Direction of the line</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="itdOperatorType">
		<xsd:annotation>
			<xsd:documentation>describes the operator for this line</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="code" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>describes the code (id) of an operator</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>describes the name of an operator</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="itdMessage" type="itdMessageType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="itdMapCoordType">
		<xsd:annotation>
			<xsd:documentation>describes a single coordinate</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="x" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>describes x-value of a single coordinate</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="y" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>describes y-value of a single coordinate</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="mapName" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>describes map name of a single coordinate</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="itdBitmapPinAreaType">
		<xsd:annotation>
			<xsd:documentation>represents an object within an image by its coordinates</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="shape" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>shape of the coordinates</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="coords" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>coordinates</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="itdGisDrawClassListType">
		<xsd:sequence>
			<xsd:element name="itdGisDrawClass" type="itdGisDrawClassType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="itdGisDrawClassType">
		<xsd:attribute name="value" type="xsd:string"/>
		<xsd:attribute name="selected" type="yesnoType"/>
	</xsd:complexType>
	<xsd:complexType name="itdVersionInfoType">
		<xsd:sequence>
			<xsd:element name="ptKernel">
				<xsd:annotation>
					<xsd:documentation>defines PTKernel application version, used sys data format and data conversion timestamp</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="appVersion" type="xsd:string"/>
						<xsd:element name="dataFormat" type="xsd:string"/>
						<xsd:element name="dataBuild" type="xsd:dateTime"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="genAttrListType">
		<xsd:sequence>
			<xsd:element name="genAttrElem" type="genAttrElemType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="genAttrElemType">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="value" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="clientHeaderLinesType">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="headerLine">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="name" type="xsd:string"/>
						<xsd:element name="value" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
