Source/WienerLinien.Api/Routing/Messages/itdOdvType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Sebastian Tiedtke (Mentz Datenverarbeitung GmbH) -->
<!-- $Id$ -->
<!-- Copyright (C) 2000-2004 Mentz Datenverarbeitung GmbH -->
<!-- Grillparzerstrasse 18, 81675 Munich, Germany  (www.mentzdv.de) -->
<!-- itd interface descripton version 9.11.0 last update 2004/08/04 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="itdServingLine.xsd"/>
	<xsd:include schemaLocation="itdOptionTypes.xsd"/>
	<xsd:complexType name="itdOdvType">
		<xsd:annotation>
			<xsd:documentation>itdOdv describes a location point object like stopping point, address, place of interest, ...</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="itdOdvPlace" type="itdOdvPlaceType">
				<xsd:annotation>
					<xsd:documentation>location place description</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="itdOdvName" type="itdOdvNameType"/>
			<xsd:element name="itdPoiHierarchy" type="itdPoiHierarchyType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>if the odv type is set to &lt;poi&gt; this object contains the current poi hierarchy during the search</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="itdPoiHierarchyRoot" type="itdPoiHierarchyRootType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>if the odv type is set to &lt;poi&gt; this object contains the current poi hierarchy root during the search</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="odvInfoList" type="odvInfoListType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>this type describes additional information for a itdOdvType</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="itdOdvAssignedStops" type="itdOdvAssignedStopsType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>if the selection of assigned stops was indicated during the request, this object contains information about possible assinged stops</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>if a map request was indicated during the request, this object contains the information to create a map request</xsd:documentation>
				</xsd:annotation>
				<xsd:element name="itdOdvMapRequest" type="itdOdvMapRequestType"/>
			</xsd:choice>
			<xsd:element name="itdServingModes" type="itdServingModesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>specifices the serving modes for a single stopID</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="genAttrList" type="genAttrListType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>list of generic attributes which are related to the current odv</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="type" type="odvLocationType" default="unknown"/>
		<xsd:attribute name="usage" type="xsd:string"/>
		<xsd:attribute name="provider" type="xsd:string"/>
		<xsd:attribute name="providerCode" type="odvProviderCodeType"/>
		<xsd:attribute name="anyObjFilter" type="xsd:string" use="optional"/>
		<xsd:attribute name="motType" type="xsd:string" use="optional"/>
		<xsd:attribute name="dwell" type="xsd:string" use="optional"/>
		<xsd:attribute name="regID" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="itdOdvListType">
		<xsd:annotation>
			<xsd:documentation>list of odvs</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="itdOdvType">
				<xsd:sequence>
					<xsd:element name="itdServingLine" type="itdServingLineType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>serving line information in the result of the stop list (Definition-Parameter: XML StopListServingLines 0|1)</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="itdCoord" type="itdMapCoordType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>coord in the result of the stop list (Definition-Parameter: XML StopListCoordinates 0|1)</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="itdOdvPlaceType">
		<xsd:annotation>
			<xsd:documentation>itdOdvPlace describes the place or area where a location can be found</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="itdMessage" type="itdMessageType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="odvPlaceElem" type="odvPlaceElemType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="odvPlaceAlphaElem" type="odvPlaceAlphaElemType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="odvPlaceInput" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="state" type="odvStateType" default="empty"/>
		<xsd:attribute name="method" type="baseWorkerMethodType">
			<xsd:annotation>
				<xsd:documentation>see baseWorkerMethodType introduced with version 9.12</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="prevIndex" type="xsd:string"/>
		<xsd:attribute name="nextIndex" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="odvPlaceElemType">
		<xsd:annotation>
			<xsd:documentation>represents the place location</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="omc" type="xsd:string" default="0"/>
				<xsd:attribute name="value" type="xsd:string"/>
				<xsd:attribute name="selected" type="yesnoType" default="0"/>
				<xsd:attribute name="placeID" type="xsd:string" default="0"/>
				<xsd:attribute name="mainPlace" type="yesnoType" default="0"/>
				<xsd:attribute name="listIndex" type="xsd:string"/>
				<xsd:attribute name="span" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>delfi introduced with version 9.12</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="type" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>delfi introduced with version 9.12</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="matchQuality" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>introduced with version 9.12</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="stateless" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>provides direct hit</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="x" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>x coordinate value</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="y" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>y coordinate value</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="mapName" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>coordinate type</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="itdOdvNameType">
		<xsd:annotation>
			<xsd:documentation>represents stop, address, poi ord coordinate</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="itdMessage" type="itdMessageType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="odvNameElem" type="odvNameElemType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="odvNameAlphaElem" type="odvNameAlphaElemType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="infoLink" type="infoLinkType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="odvNameInput" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="state" type="odvStateType" default="empty"/>
		<xsd:attribute name="method" type="baseWorkerMethodType">
			<xsd:annotation>
				<xsd:documentation>see baseWorkerMethodType introduced with version 9.12</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="prevIndex" type="xsd:string"/>
		<xsd:attribute name="nextIndex" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="odvNameElemType">
		<xsd:annotation>
			<xsd:documentation>this type describes the point location as a stop, address, poi, coord or locator</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="value" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>represents the index of the list within the server session (used for submitting if a list should occur)</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="selected" type="yesnoType" use="optional" default="0">
					<xsd:annotation>
						<xsd:documentation>1 indicates the preselection of an element</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="listIndex" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>id within the list</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="hasStaticInfo" type="yesnoType" use="optional" default="0">
					<xsd:annotation>
						<xsd:documentation>indicates whether static stop information ist available or not</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="stopID" type="xsd:string" use="optional" default="0">
					<xsd:annotation>
						<xsd:documentation>unique stop id</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="streetID" type="xsd:string" use="optional" default="0">
					<xsd:annotation>
						<xsd:documentation>id of the street gis edge</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="streetName" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>name of the street</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="houseNumber" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>house number (address only)</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="omc" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>main id of the place</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="placeID" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>id of the sub-place</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="poiID" type="xsd:string" use="optional" default="0">
					<xsd:annotation>
						<xsd:documentation>id of the poi; unique within place (poi only)</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="locatorID" type="xsd:string" use="optional" default="0">
					<xsd:annotation>
						<xsd:documentation>id of locator (locator only)</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="x" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>x coordinate value</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="y" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>y coordinate value</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="mapName" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>coordinate type</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="isTransferStop" type="yesnoType" use="optional" default="0">
					<xsd:annotation>
						<xsd:documentation>indicates major interchange stops</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="id" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>stop id for stop; street id for address</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="anyType" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>type of search (any only)</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="anyTypeSort" type="xsd:integer" use="optional">
					<xsd:annotation>
						<xsd:documentation>sort criteria depending on anyType</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameKey" type="xsd:string" use="optional"/>
				<xsd:attribute name="locality" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>name of place loaction (any only)</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="postCode" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>name of post code (any only)</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="objectName" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>name of object (any address only)</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="buildingName" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>name of building (any address only)</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="buildingNumber" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>number of building (any address only)</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="matchQuality" type="xsd:string" use="optional" default="0">
					<xsd:annotation>
						<xsd:documentation>relevance of match within a list</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="posttown" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>name of posttown (any address only)</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="bulkPostcode" type="xsd:string" use="optional" default="0">
					<xsd:annotation>
						<xsd:documentation>indicates whether post code (locater) is bulk (dt. Postfach) only</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="stateless" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>provides direct hit</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="addId" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>additional IDs separated via |</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="itdOdvMapRequestType">
		<xsd:attribute name="mapType" type="odvMapType" default="static"/>
		<xsd:attribute name="omc" type="xsd:string"/>
		<xsd:attribute name="placeID" type="xsd:string"/>
		<xsd:attribute name="centerX" type="xsd:string"/>
		<xsd:attribute name="centerY" type="xsd:string"/>
		<xsd:attribute name="mapName" type="xsd:string"/>
		<xsd:attribute name="zoomLevel" type="odvMapZoomLevelType" default="5"/>
	</xsd:complexType>
	<xsd:complexType name="itdServingModesType">
		<xsd:annotation>
			<xsd:documentation>unique list of stops indicating the served modes</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="itdStopModes" type="itdStopModesType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="itdStopModesType">
		<xsd:annotation>
			<xsd:documentation>certain stop indicating its serving modes</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>id of the stop</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="modeList">
				<xsd:annotation>
					<xsd:documentation>list of modes</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mode" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="itdPoiHierarchyType">
		<xsd:annotation>
			<xsd:documentation>represents each (sub-)hierachy of poi categories wich were selected within a certain place</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="itdPoiNode" type="itdPoiNodeType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="omc" type="xsd:string" use="required"/>
		<xsd:attribute name="placeID" type="xsd:string" use="required"/>
		<xsd:attribute name="name" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="itdPoiHierarchyRootType">
		<xsd:annotation>
			<xsd:documentation>represents the root poi categories</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="itdPoiNode" type="itdPoiNodeType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="itdPoiNodeType">
		<xsd:annotation>
			<xsd:documentation>element within poi hierarchy</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="poiID" type="xsd:string" use="required">
					<xsd:annotation>
						<xsd:documentation>id of certain poi</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="hierarchy" type="xsd:string" use="required">
					<xsd:annotation>
						<xsd:documentation>id of the category</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="value" type="xsd:string" use="required">
					<xsd:annotation>
						<xsd:documentation>value for submission to the server if a list should occur</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="locality" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="itdOdvAssignedStopType">
		<xsd:annotation>
			<xsd:documentation>represents an element within a list of stops which are assigned to a verified stop</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="stopID" type="xsd:string" use="required">
					<xsd:annotation>
						<xsd:documentation>unique stop id</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="x" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>x value of stop coordinates</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="y" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>y value of stop coordinates</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="mapName" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>coordinate type</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="value" type="xsd:string" use="required"/>
				<xsd:attribute name="place" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>place location of a certain stop</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameWithPlace" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>name of stop with place</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="distance" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>distance from verified stop in m</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="distanceTime" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>distance from verified stop in minutes</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="hasStaticInfo" type="yesnoType" use="optional" default="0">
					<xsd:annotation>
						<xsd:documentation>indicates whether static stop information ist available or not</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="isTransferStop" type="yesnoType" use="optional" default="0">
					<xsd:annotation>
						<xsd:documentation>indicates major interchange stops</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="itdOdvAssignedStopsType">
		<xsd:annotation>
			<xsd:documentation>represents a list of stops which are assigned to a verified stop</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="itdOdvAssignedStop" type="itdOdvAssignedStopType" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="select" type="yesnoType" use="optional" default="0">
			<xsd:annotation>
				<xsd:documentation>
					<definition>
						If select is set to 0 a selection of a single assigned stop is necessary to perform the next step.
					</definition>
					<keyword>select</keyword>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="odvInfoListType">
		<xsd:annotation>
			<xsd:documentation>this type describes additional information for a itdOdvType</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="odvInfoElem" type="odvInfoElemType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="odvInfoElemType">
		<xsd:annotation>
			<xsd:documentation>this type describes additional information for a itdOdvType</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="type" type="xsd:string"/>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="value" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="odvPlaceAlphaElemType">
		<xsd:sequence>
			<xsd:element name="odvAlphaElemType" type="odvAlphaElemType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="odvNameAlphaElemType">
		<xsd:sequence>
			<xsd:element name="odvAlphaElemType" type="odvAlphaElemType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="odvAlphaElemType">
		<xsd:sequence>
			<xsd:element name="alphaStart" type="xsd:string"/>
			<xsd:element name="alphaEnd" type="xsd:string"/>
			<xsd:element name="alphaValue" type="xsd:string"/>
			<xsd:element name="selected" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="itdAddOdvType">
		<xsd:sequence>
			<xsd:element name="itdDateTime" type="itdDateTimeType" minOccurs="0"/>
			<xsd:choice minOccurs="0">
				<xsd:element name="itPedestrian" type="itdPedestrianOptionType"/>
				<xsd:element name="itBicycle" type="itdBicycleOptionType"/>
				<xsd:element name="mitCar" type="itdCarOptionType"/>
			</xsd:choice>
			<xsd:element name="itdOdvPlace" type="itdOdvPlaceType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>location place description</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="itdOdvName" type="itdOdvNameType">
				<xsd:annotation>
					<xsd:documentation>location point description</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="genAttrList" type="genAttrListType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>list of generic attributes which are related to the current additional odv</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="realtimeInfo" type="realtimeInfoType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>realtime information of additional objects</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="MOT" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>describes the individual transport code, e. g. PT = 1, IT_WALK = 100, IT_PARK_BIKE = 101, IT_CARRY_BIKE = 102, IT_KISS_RIDE =  103, IT_PARK_RIDE = 104, IT_TAXI = 105, IT_CAR = 106, IT_BIKE = 107</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="dwellTime" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>dwell time in hh::mm</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="deparr" default="dep">
			<xsd:annotation>
				<xsd:documentation>indicates whether the trip date/time is for departure or arrival</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="dep"/>
					<xsd:enumeration value="arr"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="parkObjType" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>parking object type</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="PR" type="yesnoType" default="0">
			<xsd:annotation>
				<xsd:documentation>P+R object 0|1</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="realtime" type="yesnoType" default="0">
			<xsd:annotation>
				<xsd:documentation>has realtime information 0|1</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="selected" type="yesnoType" default="0">
			<xsd:annotation>
				<xsd:documentation>represents selection for additional odv</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="realtimeInfoType">
		<xsd:sequence>
			<xsd:element name="itdDateTime" type="itdDateTimeType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="freePlaces" type="xsd:integer">
			<xsd:annotation>
				<xsd:documentation>number of free places</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="occLevel" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>occupation level</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="add1" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>additional information</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="add2" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>additional information</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="add3" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>additional information</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="add4" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>additional information</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="add5" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>additional information</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
</xsd:schema>
