Source/WienerLinien.Api/Routing/Messages/itdPersonalProfileType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Geralf Einert (Mentz Datenverarbeitung GmbH) -->
<!-- $Id$ -->
<!-- Copyright (C) 2000-2004 Mentz Datenverarbeitung GmbH -->
<!-- Grillparzerstrasse 18, 81675 Munich, Germany  (www.mentzdv.de) -->
<!-- itd interface descripton version 9.11.0 last update 2004/08/04 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="itdOdvType.xsd"/>
	<xsd:complexType name="itdPersonalProfileType">
		<xsd:annotation>
			<xsd:documentation>itdPersonalProfileType describes all personal data of a user, person data, mobile information, personal points, trip options</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="personData" type="personDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>person data information</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="phoneData" type="phoneDataType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>phone data information</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ppOdvData" type="ppOdvDataType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>personal point information</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="trafficOptions" type="trafficOptionsType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>trip options</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ppConfiguration" type="ppConfigurationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>configuration options</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="monitoredTrip" type="monitoredTripType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="myFavourites" type="myFavouritesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>favourite and recent requests</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="monitoredStops" type="monitoredStopType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="monitoredLines" type="monitoredLineType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="itdMessage" type="itdMessageType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="netPassword" type="xsd:string"/>
		<xsd:attribute name="netUsername" type="xsd:string"/>
		<xsd:attribute name="mobilePassword" type="xsd:string"/>
		<xsd:attribute name="mobileUsername" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="itdLineKeyType">
		<xsd:annotation>
			<xsd:documentation>DIVA Line Key</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="network" type="xsd:string"/>
		<xsd:attribute name="line" type="xsd:string"/>
		<xsd:attribute name="supplement" type="xsd:string" use="optional"/>
		<xsd:attribute name="direction" type="xsd:string" use="optional"/>
		<xsd:attribute name="project" type="xsd:string" use="optional"/>
		<xsd:attribute name="name" type="xsd:string" use="optional"/>
		<xsd:attribute name="shortName" type="xsd:string" use="optional"/>
		<xsd:attribute name="mtCode" type="xsd:string" use="optional"/>
		<xsd:attribute name="productName" type="xsd:string" use="optional"/>
		<xsd:attribute name="trainType" type="xsd:string" use="optional"/>
		<xsd:attribute name="trainName" type="xsd:string" use="optional"/>
		<xsd:attribute name="symbol" type="xsd:string" use="optional"/>
		<xsd:attribute name="operator" type="xsd:string" use="optional"/>
		<xsd:attribute name="operatorCode" type="xsd:string" use="optional"/>
		<xsd:attribute name="routeDescription" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="personDataType">
		<xsd:sequence>
			<xsd:element name="abode" type="abodeDataType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="sex" default="female">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="female"/>
					<xsd:enumeration value="male"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="firstName" type="xsd:string"/>
		<xsd:attribute name="address" type="xsd:string"/>
		<xsd:attribute name="email" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="abodeDataType">
		<xsd:attribute name="street" type="xsd:string" use="required"/>
		<xsd:attribute name="place" type="xsd:string" use="required"/>
		<xsd:attribute name="zipCode" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="phoneDataType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="pos" type="xsd:string"/>
				<xsd:attribute name="countryCode" type="xsd:string" default="+49"/>
				<xsd:attribute name="areaCode" type="xsd:string"/>
				<xsd:attribute name="number" type="xsd:string"/>
				<xsd:attribute name="type" type="phoneDeviceType" default="PHONE"/>
				<xsd:attribute name="edit" type="yesnoType" default="0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ppOdvDataType">
		<xsd:sequence>
			<xsd:element name="itdMessage" type="itdMessageType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="itdOdv" type="itdOdvType"/>
		</xsd:sequence>
		<xsd:attribute name="pos" type="xsd:string"/>
		<xsd:attribute name="identifier" type="xsd:string"/>
		<xsd:attribute name="edit" type="yesnoType" default="0"/>
	</xsd:complexType>
	<xsd:complexType name="trafficOptionsType">
		<xsd:sequence>
			<xsd:element name="ptExclMeansOptions" type="ptExclMeansOptionsType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>excluded means of transport</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ptSecurityOptions" type="ptSecurityOptionsType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>security options</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ptComfortOptions" type="ptComfortOptionsType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>comfort options</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ptHandicapOptions" type="ptHandicapOptionsType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>handicap options</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ptConfigurationOptions" type="ptConfigurationOptionsType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>handicap options</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ptBookingOptions" type="ptBookingOptionsType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>handicap options</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ptITMeansOptions" type="ptITMeansOptionsType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>handicap options</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ptParkingOptions" type="ptParkingOptionsType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>handicap options</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ptTZListOptions" type="ptTZListOptionsType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>handicap options</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ptSPTListOptions" type="ptSPTListOptionsType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>handicap options</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ptOPListOptions" type="ptOPListOptionsType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>operator options</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ptMOTListOptions" type="ptMOTListOptionsType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>menas of transport options</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ptServiceListOptions" type="ptServiceListOptionsType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>service options</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ptLayoutOptions" type="ptLayoutOptionsType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>handicap options</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ptOutputOptions" type="ptOutputOptionsType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>handicap options</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ptExclMeansOptionsType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="plane" type="yesnoType"/>
				<xsd:attribute name="usePT" type="yesnoType"/>
				<xsd:attribute name="inclMOT_0" type="yesnoType"/>
				<xsd:attribute name="inclMOT_1" type="yesnoType"/>
				<xsd:attribute name="inclMOT_2" type="yesnoType"/>
				<xsd:attribute name="inclMOT_3" type="yesnoType"/>
				<xsd:attribute name="inclMOT_4" type="yesnoType"/>
				<xsd:attribute name="inclMOT_5" type="yesnoType"/>
				<xsd:attribute name="inclMOT_6" type="yesnoType"/>
				<xsd:attribute name="inclMOT_7" type="yesnoType"/>
				<xsd:attribute name="inclMOT_8" type="yesnoType"/>
				<xsd:attribute name="inclMOT_9" type="yesnoType"/>
				<xsd:attribute name="inclMOT_10" type="yesnoType"/>
				<xsd:attribute name="inclMOT_11" type="yesnoType"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ptSecurityOptionsType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="sos" type="yesnoType"/>
				<xsd:attribute name="insecure" type="yesnoType"/>
				<xsd:attribute name="notLonely" type="yesnoType"/>
				<xsd:attribute name="illuminated" type="yesnoType"/>
				<xsd:attribute name="changeOverGround" type="yesnoType"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ptComfortOptionsType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="bikeTakeAlong" type="yesnoType"/>
				<xsd:attribute name="changeSpeed" type="motSpeedType" default="normal"/>
				<xsd:attribute name="lineRestriction" type="xsd:integer"/>
				<xsd:attribute name="noCrowded" type="yesnoType"/>
				<xsd:attribute name="routeType" default="LEASTTIME">
					<xsd:simpleType>
						<xsd:restriction base="xsd:NMTOKEN">
							<xsd:enumeration value="LEASTTIME"/>
							<xsd:enumeration value="LEASTINTERCHANGE"/>
							<xsd:enumeration value="LEASTWALKING"/>
							<xsd:enumeration value="LEASTEXPENSIVE"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name="usePlane" type="yesnoType"/>
				<xsd:attribute name="maxChanges" type="xsd:integer" default="9"/>
				<xsd:attribute name="maxWalkTime" type="xsd:integer" default="10"/>
				<xsd:attribute name="useProxFootSearch" type="yesnoType" default="0"/>
				<xsd:attribute name="useProxFootSearchOrigin" type="yesnoType"/>
				<xsd:attribute name="useProxFootSearchDestination" type="yesnoType"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ptHandicapOptionsType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="ramp" type="yesnoType"/>
				<xsd:attribute name="noElevator" type="yesnoType"/>
				<xsd:attribute name="lowplatform" type="yesnoType"/>
				<xsd:attribute name="noEscalator" type="yesnoType"/>
				<xsd:attribute name="noSolidStairs" type="yesnoType"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ptConfigurationOptionsType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ptBookingOptionsType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ptITMeansOptionsType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ptParkingOptionsType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="parkingType" type="xsd:integer" use="optional" default="0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ptTZListOptionsType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ptSPTListOptionsType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ptOPListOptionsType">
		<xsd:annotation>
			<xsd:documentation>describes all operators regarding type for must include, must exclude, prefer to include and prefer to exclude</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="mustInclOP" type="xsd:string" use="optional" default=""/>
				<xsd:attribute name="mustExclOP" type="xsd:string" use="optional" default=""/>
				<xsd:attribute name="preferInclOP" type="xsd:string" use="optional" default=""/>
				<xsd:attribute name="preferExclOP" type="xsd:string" use="optional" default=""/>
				<xsd:attribute name="useOnlyOP" type="xsd:string" use="optional" default=""/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ptMOTListOptionsType">
		<xsd:annotation>
			<xsd:documentation>describes all means of transpoort modes regarding type for must include, must exclude, prefer to include and prefer to exclude</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="mustInclMOT" type="xsd:string" use="optional" default=""/>
				<xsd:attribute name="mustExclMOT" type="xsd:string" use="optional" default=""/>
				<xsd:attribute name="preferInclMOT" type="xsd:string" use="optional" default=""/>
				<xsd:attribute name="preferExclMOT" type="xsd:string" use="optional" default=""/>
				<xsd:attribute name="useOnlyMOT" type="xsd:string" use="optional" default=""/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ptServiceListOptionsType">
		<xsd:annotation>
			<xsd:documentation>describes all means of transpoort modes regarding type for must include, must exclude, prefer to include and prefer to exclude</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="mustInclService" type="xsd:string" use="optional" default=""/>
				<xsd:attribute name="mustExclService" type="xsd:string" use="optional" default=""/>
				<xsd:attribute name="preferInclService" type="xsd:string" use="optional" default=""/>
				<xsd:attribute name="preferExclService" type="xsd:string" use="optional" default=""/>
				<xsd:attribute name="useOnlyService" type="xsd:string" use="optional" default=""/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ptLayoutOptionsType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="pp_itdLPxx_0" type="xsd:string" use="optional" default=""/>
				<xsd:attribute name="pp_itdLPxx_1" type="xsd:string" use="optional" default=""/>
				<xsd:attribute name="pp_itdLPxx_2" type="xsd:string" use="optional" default=""/>
				<xsd:attribute name="pp_itdLPxx_3" type="xsd:string" use="optional" default=""/>
				<xsd:attribute name="pp_itdLPxx_4" type="xsd:string" use="optional" default=""/>
				<xsd:attribute name="pp_itdLPxx_5" type="xsd:string" use="optional" default=""/>
				<xsd:attribute name="pp_itdLPxx_6" type="xsd:string" use="optional" default=""/>
				<xsd:attribute name="pp_itdLPxx_7" type="xsd:string" use="optional" default=""/>
				<xsd:attribute name="pp_itdLPxx_8" type="xsd:string" use="optional" default=""/>
				<xsd:attribute name="pp_itdLPxx_9" type="xsd:string" use="optional" default=""/>
				<xsd:attribute name="pp_itdLPxx_10" type="xsd:string" use="optional" default=""/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ptOutputOptionsType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="outputMask" type="xsd:integer" use="optional" default="0"/>
				<xsd:attribute name="noElevationProfile" type="yesnoType" use="optional" default="0"/>
				<xsd:attribute name="noElevationSummary" type="yesnoType" use="optional" default="0"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ppConfigurationType">
		<xsd:sequence>
			<xsd:element name="printer" type="printerType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="senderAddress" type="xsd:string"/>
		<xsd:attribute name="senderInfo" type="xsd:string"/>
		<xsd:attribute name="preSelectionPlace" type="xsd:string"/>
		<xsd:attribute name="preSelectionName" type="xsd:string"/>
		<xsd:attribute name="fontSizeNormal" type="yesnoType"/>
		<xsd:attribute name="shading" type="yesnoType"/>
		<xsd:attribute name="printerDirect" type="yesnoType"/>
	</xsd:complexType>
	<xsd:complexType name="printerType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="pos" type="xsd:string"/>
				<xsd:attribute name="printerName" type="xsd:string"/>
				<xsd:attribute name="printerSelected" type="yesnoType"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="personalOdvHistoryType">
		<xsd:sequence>
			<xsd:element name="itdOdv" type="itdOdvType"/>
		</xsd:sequence>
		<xsd:attribute name="lastAccess" type="xsd:int"/>
		<xsd:attribute name="pos" type="xsd:int"/>
	</xsd:complexType>
	<xsd:complexType name="personalTripType">
		<xsd:sequence>
			<xsd:element name="origin" type="itdOdvType"/>
			<xsd:element name="destination" type="itdOdvType"/>
			<xsd:element name="via" type="itdOdvType" minOccurs="0"/>
			<xsd:element name="trafficOptions" type="trafficOptionsType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>trip options</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="identifier" type="xsd:string" use="required"/>
		<xsd:attribute name="pos" type="xsd:int" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="personalTripHistoryType">
		<xsd:sequence>
			<xsd:element name="origin" type="itdOdvType"/>
			<xsd:element name="destination" type="itdOdvType"/>
			<xsd:element name="via" type="itdOdvType" minOccurs="0"/>
			<xsd:element name="trafficOptions" type="trafficOptionsType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>trip options</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="lastAccess" type="xsd:int" use="required"/>
		<xsd:attribute name="pos" type="xsd:int" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="personalDepartureType">
		<xsd:sequence>
			<xsd:element name="itdOdv" type="itdOdvType"/>
			<xsd:element name="lineKey" type="itdLineKeyType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="pos" type="xsd:int" use="required"/>
		<xsd:attribute name="identifier" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="personalDepartureHistoryType">
		<xsd:sequence>
			<xsd:element name="itdOdv" type="itdOdvType"/>
			<xsd:element name="lineKey" type="itdLineKeyType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="lastAccess" type="xsd:int" use="required"/>
		<xsd:attribute name="pos" type="xsd:int" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="myFavouritesType">
		<xsd:annotation>
			<xsd:documentation>List of favourite and recent requests</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="namedTrips" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="namedTrip" type="personalTripType" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="namedDepartures" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="namedDeparture" type="personalDepartureType" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="lastOdvs" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="lastOdv" type="personalOdvHistoryType" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="lastTrips" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="lastTrip" type="personalTripHistoryType" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="lastDepartures" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="lastDeparture" type="personalDepartureHistoryType" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="monitoredTripType">
		<xsd:sequence>
			<xsd:element name="itdDateTime" type="itdDateTimeType"/>
			<xsd:element name="origin" type="itdOdvType"/>
			<xsd:element name="destination" type="itdOdvType"/>
			<xsd:element name="via" type="itdOdvType" minOccurs="0"/>
			<xsd:element name="trafficOptions" type="trafficOptionsType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>trip options</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="partialRoute" type="partialRouteType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="pos" type="xsd:int" use="required"/>
		<xsd:attribute name="active" type="yesnoType" use="required"/>
		<xsd:attribute name="period" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="monitoredStopType">
		<xsd:sequence>
			<xsd:element name="monitoredStop" type="ppOdvDataType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="monitoredLineType">
		<xsd:sequence>
			<xsd:element name="monitoredLine" type="ppLineType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ppLineType">
		<xsd:sequence>
			<xsd:element name="itdMessage" type="itdMessageType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="lineKey" type="itdLineKeyType"/>
		</xsd:sequence>
		<xsd:attribute name="pos" type="xsd:string"/>
		<xsd:attribute name="edit" type="yesnoType" default="0"/>
	</xsd:complexType>
	<xsd:complexType name="partialRouteType">
		<xsd:sequence>
			<xsd:element name="origin" type="stopDataType"/>
			<xsd:element name="destination" type="stopDataType"/>
			<xsd:element name="lineKey" type="itdLineKeyType"/>
			<xsd:element name="passedStop" type="passedStopType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="passedStopType">
		<xsd:sequence>
			<xsd:element name="stop" type="stopDataType"/>
		</xsd:sequence>
		<xsd:attribute name="pos" type="xsd:long" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="stopDataType">
		<xsd:sequence>
			<xsd:element name="itdDateTime" type="itdDateTimeType"/>
		</xsd:sequence>
		<xsd:attribute name="place" type="xsd:string" use="required"/>
		<xsd:attribute name="omc" type="xsd:string" use="required"/>
		<xsd:attribute name="placeID" type="xsd:long" use="required"/>
		<xsd:attribute name="stop" type="xsd:int" use="required"/>
		<xsd:attribute name="area" type="xsd:string" use="required"/>
		<xsd:attribute name="platform" type="xsd:string" use="required"/>
		<xsd:attribute name="stopName" type="xsd:string" use="required"/>
	</xsd:complexType>
</xsd:schema>
