Source/WienerLinien.Api/Routing/Messages/itdSimpleTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Jürgen Hillmann (Mentz Datenverarbeitung GmbH) -->
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by MU (Mentz Datenverarbeitung GmbH) -->
<!-- $Id$ -->
<!-- Copyright (C) 2000-2004 Mentz Datenverarbeitung GmbH -->
<!-- Grillparzerstrasse 18, 81675 Munich, Germany  (www.mentzdv.de) -->
<!-- itd interface descripton version 9.11.0 last update 2004/08/04 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xsd:simpleType name="yesnoType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="0"/>
			<xsd:enumeration value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="yesnounknownType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="-1"/>
			<xsd:enumeration value="0"/>
			<xsd:enumeration value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="onoffType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="on"/>
			<xsd:enumeration value="off"/>
			<xsd:enumeration value="unauthorised"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="languageType">
		<xsd:annotation>
			<xsd:documentation>
				<definition>language value</definition>
				<keyword>language</keyword>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:language"/>
	</xsd:simpleType>
	<xsd:simpleType name="sessionIDType">
		<xsd:annotation>
			<xsd:documentation>
				<definition>
					With the sessionID value you have the chance to create or access a specific session on the server.
					Set the value to 0 to create a new session on the server.
					Use the given value from the server to access a already existing session on the server.
				</definition>
				<keyword>session</keyword>
				<keyword>sessionID</keyword>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="clientType">
		<xsd:annotation>
			<xsd:documentation>
				<definition>this value includes information about the client browser (vendor specific information)</definition>
				<keyword>client</keyword>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="versionType">
		<xsd:annotation>
			<xsd:documentation>
				<definition>this value includes information about the current interface version used to create the xml</definition>
				<keyword>version</keyword>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="virtDirType">
		<xsd:annotation>
			<xsd:documentation>
				<definition>this value includes information about the access of a specific virtual directory on the HTTP-Server</definition>
				<keyword>virtual directory</keyword>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="lengthUnitType">
		<xsd:annotation>
			<xsd:documentation>length unti types i.e. meter, feet, ...</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="FEET"/>
			<xsd:enumeration value="METER"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="requestIDType">
		<xsd:annotation>
			<xsd:documentation>
				<definition/>
				<keyword>requestID</keyword>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:unsignedInt"/>
	</xsd:simpleType>
	<xsd:simpleType name="inputSelectionModeType">
		<xsd:annotation>
			<xsd:documentation>
				<definition/>
				<keyword>command</keyword>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="line"/>
			<xsd:enumeration value="street"/>
			<xsd:enumeration value="odv"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="inputSelectionReqType">
		<xsd:annotation>
			<xsd:documentation>
				<definition/>
				<keyword>request type</keyword>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="stopmap"/>
			<xsd:enumeration value="lvp"/>
			<xsd:enumeration value="cbl"/>
			<xsd:enumeration value="spa"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="inputSelectionSubReqType">
		<xsd:annotation>
			<xsd:documentation>
				<definition/>
				<keyword>sub request type</keyword>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="overview"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="commandType">
		<xsd:annotation>
			<xsd:documentation>
				<definition/>
				<keyword>command</keyword>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="execInstType">
		<xsd:annotation>
			<xsd:documentation>
				<definition>
					Describes the server action.
					readOnly - read only all values and do not verify or calculate any result (read only date, origin, destination or options values)
					verifyOnly - read and verify all values, do not calculate any result (verify date, origin and destination if possible but do not calculate any trip result)
					normal - read, verify and if possible calculate any result. (input for origin and destination is definite - calculate possible trip result)
				</definition>
				<keyword>command</keyword>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="normal"/>
			<xsd:enumeration value="verifyOnly"/>
			<xsd:enumeration value="readOnly"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="viewType">
		<xsd:annotation>
			<xsd:documentation>
				<definition/>
				<keyword>view</keyword>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="odvStateType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="empty"/>
			<xsd:enumeration value="notidentified"/>
			<xsd:enumeration value="list"/>
			<xsd:enumeration value="identified"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="documentOutputType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="HTML"/>
			<xsd:enumeration value="PS"/>
			<xsd:enumeration value="PDF"/>
			<xsd:enumeration value="PDA"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="motSpeedType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="normal"/>
			<xsd:enumeration value="fast"/>
			<xsd:enumeration value="slow"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="phoneDeviceType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="D1"/>
			<xsd:enumeration value="D2"/>
			<xsd:enumeration value="EPLUS"/>
			<xsd:enumeration value="PHONE"/>
			<xsd:enumeration value="FAX"/>
			<xsd:enumeration value="UNKNOWN"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="odvLocationType">
		<xsd:annotation>
			<xsd:documentation>values stopID and poiID added with version 9.11</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="stop"/>
			<xsd:enumeration value="stopID"/>
			<xsd:enumeration value="address"/>
			<xsd:enumeration value="crossing"/>
			<xsd:enumeration value="poi"/>
			<xsd:enumeration value="poiID"/>
			<xsd:enumeration value="pp"/>
			<xsd:enumeration value="place"/>
			<xsd:enumeration value="placeAny"/>
			<xsd:enumeration value="coord"/>
			<xsd:enumeration value="locator"/>
			<xsd:enumeration value="any"/>
			<xsd:enumeration value="poiAny"/>
			<xsd:enumeration value="stopAny"/>
			<xsd:enumeration value="addressAny"/>
			<xsd:enumeration value="placeList"/>
			<xsd:enumeration value="placeAlphaList"/>
			<xsd:enumeration value="stopList"/>
			<xsd:enumeration value="stopAlphaList"/>
			<xsd:enumeration value="streetList"/>
			<xsd:enumeration value="streetAlphaList"/>
			<xsd:enumeration value="housenumberList"/>
			<xsd:enumeration value="housenumberAlphaList"/>
			<xsd:enumeration value="unknown"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="odvMapType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="stop"/>
			<xsd:enumeration value="coord"/>
			<xsd:enumeration value="place"/>
			<xsd:enumeration value="static"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="mapPinType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="stop"/>
			<xsd:enumeration value="address"/>
			<xsd:enumeration value="street"/>
			<xsd:enumeration value="crossing"/>
			<xsd:enumeration value="poi"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="odvMapZoomLevelType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="0"/>
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
			<xsd:enumeration value="4"/>
			<xsd:enumeration value="5"/>
			<xsd:enumeration value="6"/>
			<xsd:enumeration value="7"/>
			<xsd:enumeration value="9"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="odvProviderCodeType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="74"/>
			<xsd:enumeration value="83"/>
			<xsd:enumeration value="86"/>
			<xsd:enumeration value="741"/>
			<xsd:enumeration value="801"/>
			<xsd:enumeration value="802"/>
			<xsd:enumeration value="803"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="mmMeansOfTransportType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="0"/>
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
			<xsd:enumeration value="4"/>
			<xsd:enumeration value="5"/>
			<xsd:enumeration value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="mmSpeedType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="slow"/>
			<xsd:enumeration value="normal"/>
			<xsd:enumeration value="fast"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="mmOptimisationType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="fastest"/>
			<xsd:enumeration value="shortest"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="asynchronousOutputType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="pdf"/>
			<xsd:enumeration value="pda"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="footPathInfoPosition">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="PREV"/>
			<xsd:enumeration value="IDEST"/>
			<xsd:enumeration value="AFTER"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="footPathElemType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="LEVEL"/>
			<xsd:enumeration value="STAIRS"/>
			<xsd:enumeration value="ESCALATOR"/>
			<xsd:enumeration value="ELEVATOR"/>
			<xsd:enumeration value="RAMP"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="footPathElemLevel">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="UP"/>
			<xsd:enumeration value="DOWN"/>
			<xsd:enumeration value="LEVEL"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="baseWorkerMethodType">
		<xsd:annotation>
			<xsd:documentation>the baseWorkerMethodType describes the verification method of the element introduced with version 9.12</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="auto"/>
			<xsd:enumeration value="itp"/>
			<xsd:enumeration value="delfi"/>
			<xsd:enumeration value="spirit"/>
			<xsd:enumeration value="flight"/>
			<xsd:enumeration value="delfiRouter"/>
			<xsd:enumeration value="spiritRouter"/>
			<xsd:enumeration value="flexi"/>
			<xsd:enumeration value="drs"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="bookingAction">
		<xsd:annotation>
			<xsd:documentation>name of the booking action</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="book"/>
			<xsd:enumeration value="cancel"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="coordinateFormatType">
		<xsd:annotation>
			<xsd:documentation>format or projection types of coordinates</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="GEO_DECIMAL"/>
			<xsd:enumeration value="GEO_MIN_SEC"/>
			<xsd:enumeration value="PROJECTION_GAUSS_KRUEGER"/>
			<xsd:enumeration value="PROJECTION_UTM"/>
			<xsd:enumeration value="PROJECTION_MDV"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="coordinateEllipsoidType">
		<xsd:annotation>
			<xsd:documentation>ellipsoid types for coordinate format description</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="WGS84"/>
			<xsd:enumeration value="DHDN_RAUENBERG_BESSEL_1841"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="turnDirectionType">
		<xsd:annotation>
			<xsd:documentation>types of turn directions in it trip</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="UNKNOWN_TURN_DIRECTION"/>
			<xsd:enumeration value="STRAIGHT"/>
			<xsd:enumeration value="LEFT"/>
			<xsd:enumeration value="SLIGHT_LEFT"/>
			<xsd:enumeration value="SHARP_LEFT"/>
			<xsd:enumeration value="RIGHT"/>
			<xsd:enumeration value="SLIGHT_RIGHT"/>
			<xsd:enumeration value="SHARP_RIGHT"/>
			<xsd:enumeration value="U_TURN"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="turningManoeuvreType">
		<xsd:annotation>
			<xsd:documentation>types of manoeuvres in it trip</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="ORIGIN"/>
			<xsd:enumeration value="DESTINATION"/>
			<xsd:enumeration value="CONTINUE"/>
			<xsd:enumeration value="KEEP"/>
			<xsd:enumeration value="TURN"/>
			<xsd:enumeration value="U_TURN"/>
			<xsd:enumeration value="ENTER"/>
			<xsd:enumeration value="LEAVE"/>
			<xsd:enumeration value="ENTER_ROUNDABOUT"/>
			<xsd:enumeration value="STAY_IN_ROUNDABOUT"/>
			<xsd:enumeration value="LEAVE_ROUNDABOUT"/>
			<xsd:enumeration value="ENTER_BUILTUPAREA"/>
			<xsd:enumeration value="LEAVE_BUILTUPAREA"/>
			<xsd:enumeration value="ENTER_TOLL"/>
			<xsd:enumeration value="LEAVE_TOLL"/>
			<xsd:enumeration value="TOLLGATE"/>
			<xsd:enumeration value="RAMP"/>
			<xsd:enumeration value="ON_RAMP"/>
			<xsd:enumeration value="OFF_RAMP"/>
			<xsd:enumeration value="UNKNOWN_TURNING_MANOEUVRE"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="linkDirectionType">
		<xsd:annotation>
			<xsd:documentation>direction of link: forward (from -> to), backward (to -> from)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="FORWARD"/>
			<xsd:enumeration value="BACKWARD"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="itDataSourceType">
		<xsd:annotation>
			<xsd:documentation>source of traveltime information used in calculation of it trip</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="STATIC_DATA"/>
			<xsd:enumeration value="PROFILE_DATA"/>
			<xsd:enumeration value="INCIDENT_DATA"/>
			<xsd:enumeration value="ONLINE_DATA"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="computationType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="PT_AND_IT"/>
			<xsd:enumeration value="ONLY_IT"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="computePartialRouteType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="normalPartialRoute"/>
			<xsd:enumeration value="prevPartialRoute"/>
			<xsd:enumeration value="nextPartialRoute"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="parkingType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="UNKNOWN"/>
			<xsd:enumeration value="NEARSTART"/>
			<xsd:enumeration value="NEARDEST"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="printOutType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="UNKNOWN"/>
			<xsd:enumeration value="JOURNEY"/>
			<xsd:enumeration value="DEPARTURE"/>
			<xsd:enumeration value="DEPARTURE"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="inclType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="UNKNOWN"/>
			<xsd:enumeration value="mustincl"/>
			<xsd:enumeration value="mustexcl"/>
			<xsd:enumeration value="preferincl"/>
			<xsd:enumeration value="preferexcl"/>
			<xsd:enumeration value="useonly"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="parkingChargeType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="UNKNOWN"/>
			<xsd:enumeration value="FREE"/>
			<xsd:enumeration value="PAY"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
