Source/WienerLinien.Api/Routing/Messages/itdServingLine.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Geralf Einert (Mentz Datenverarbeitung GmbH) -->
<!-- $Id$ -->
<!-- Copyright (C) 2000-2004 Mentz Datenverarbeitung GmbH -->
<!-- Grillparzerstrasse 18, 81675 Munich, Germany  (www.mentzdv.de) -->
<!-- itd interface descripton version 9.11.0 last update 2004/08/04 -->
<xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="itdComplexTypes.xsd"/>
	<xsd:complexType name="itdServingLinesType">
		<xsd:annotation>
			<xsd:documentation>represents a list of serving lines</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="itdMessage" type="itdMessageType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="itdServingLine" type="itdServingLineType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="selected" type="xsd:string"/>
		<xsd:attribute name="trainInfo" default="hide">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="show"/>
					<xsd:enumeration value="hide"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="MOT0_selected" type="xsd:string"/>
		<xsd:attribute name="MOT0" default="hide">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="show"/>
					<xsd:enumeration value="hide"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="MOT1_selected" type="xsd:string"/>
		<xsd:attribute name="MOT1" default="hide">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="show"/>
					<xsd:enumeration value="hide"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="MOT2_selected" type="xsd:string"/>
		<xsd:attribute name="MOT2" default="hide">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="show"/>
					<xsd:enumeration value="hide"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="MOT3_selected" type="xsd:string"/>
		<xsd:attribute name="MOT3" default="hide">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="show"/>
					<xsd:enumeration value="hide"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="MOT4_selected" type="xsd:string"/>
		<xsd:attribute name="MOT4" default="hide">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="show"/>
					<xsd:enumeration value="hide"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="MOT5_selected" type="xsd:string"/>
		<xsd:attribute name="MOT5" default="hide">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="show"/>
					<xsd:enumeration value="hide"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="MOT6_selected" type="xsd:string"/>
		<xsd:attribute name="MOT6" default="hide">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="show"/>
					<xsd:enumeration value="hide"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="MOT7_selected" type="xsd:string"/>
		<xsd:attribute name="MOT7" default="hide">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="show"/>
					<xsd:enumeration value="hide"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="MOT8_selected" type="xsd:string"/>
		<xsd:attribute name="MOT8" default="hide">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="show"/>
					<xsd:enumeration value="hide"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="MOT9_selected" type="xsd:string"/>
		<xsd:attribute name="MOT9" default="hide">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="show"/>
					<xsd:enumeration value="hide"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="MOT10_selected" type="xsd:string"/>
		<xsd:attribute name="MOT10" default="hide">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="show"/>
					<xsd:enumeration value="hide"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="MOT11_selected" type="xsd:string"/>
		<xsd:attribute name="MOT11" default="hide">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="show"/>
					<xsd:enumeration value="hide"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="itdServingLineType">
		<xsd:annotation>
			<xsd:documentation>represents a serving line which i.e. serves a certain stop</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="itdTrain" type="itdTrainType" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="itdNoTrain" type="itdNoTrainType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
			<xsd:element name="motDivaParams" type="motDivaParamsType" minOccurs="0"/>
			<xsd:element name="itdRouteDescText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="itdOperator" type="itdOperatorType" minOccurs="0"/>
			<xsd:element name="infoLinkRef" type="infoLinkRefType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="index" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>value for submission to server</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="valid" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>name of validity periode</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="key" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>code of the serving means of transport</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="code" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>code of the serving means of transport</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="number" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>short name of service</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="symbol" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>short name of diva line without operating branch</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="direction" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>direction text (e.g. last stop in service)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="realtime" type="yesnoType" default="0">
			<xsd:annotation>
				<xsd:documentation>indicates whether real time data is available for the service</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="compound" type="yesnoType" default="0">
			<xsd:annotation>
				<xsd:documentation>indicates whether line is a compound line (dt. Mischlinie)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="selected" type="yesnoType">
			<xsd:annotation>
				<xsd:documentation>indicates whether line has been selected (e.g. for departure monitor)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="motType" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>indicates the mot (same as for means of transport in-/exclusion)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="TTB" type="yesnoType" use="optional" default="0">
			<xsd:annotation>
				<xsd:documentation>indicates whether the line can be used to produce timetables</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="STT" type="yesnoType" use="optional" default="0">
			<xsd:annotation>
				<xsd:documentation>indicates whether the line can be used to produce stop timetables</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="ROP" type="yesnoType" use="optional" default="0">
			<xsd:annotation>
				<xsd:documentation>indicates whether the line can be used to produce route option plans</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="assignedStop" type="xsd:string" use="optional" default="">
			<xsd:annotation>
				<xsd:documentation>indicates the assigned stop of the searched line</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="assignedStopID" type="xsd:string" use="optional" default="">
			<xsd:annotation>
				<xsd:documentation>indicates the assigned stop ID of the searched line</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="type" type="inclType" use="optional">
			<xsd:annotation>
				<xsd:documentation>describes the simple include type for must include, must exclude, prefer to include and prefer to exclude</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="addName" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>additional service name</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="spTr" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>additional special traffic information</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="itdTrainType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="type" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>train type (Deutsche Bahn services)</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="name" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>train name (Deutsche Bahn; e.g. &quot;Richard Wagner&quot;)</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="itdNoTrainType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="name" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>represents the name of the traveling vehicle</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="delay" type="xsd:string" default="0">
					<xsd:annotation>
						<xsd:documentation>represents the delay if real time data is available</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
